@model echoicewear.Models.Member
@{
    ViewBag.Title = "Admin";
}

<div>
    <h2>Edit Products</h2> @Html.ActionLink("PRODUCTS", "products", "Product")
    <br>
    <h2>Users Information</h2> @Html.ActionLink("USERS", "AllMembers", "MemberAccount")
</div>